:export {
	.modal {
		z-index: z(modal);
	}

	.site-nav {
		z-index: z(site-nav);
	}

	.site-header {
		z-index: z(site-header);
	}

	.site-content {
		z-index: z(site-content);
	}

	.site-footer {
		z-index: z(site-footer);
	}
}
