@use '../config/variables' as var;
@use '../config/functions' as *;
@use '../config/mixins' as *;
@use '../global/extends' as *;

body {
	font-family: var.$primary-font;
	color: var.$primary-nutral-color;
	position: relative;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var.$primary-font;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@supports (--webkit-scrollbar: width) {
	@include scrollbarsChrome(0.5em, var.$primary-color);
}

img {
	max-width: 100%;
	height: auto;
	@extend .no-select;
}

video {
	object-fit: cover;
}

::selection {
	color: var.$on-primary-color;
	background: var.$primary-color;
}

//--- Input Autocompletion
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
	-webkit-text-fill-color: var.$primary-color;
}

a {
	text-decoration: none;
	color: unset;

	&:hover {
		color: unset;
	}
}
